body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  color: orange;
  /* color: black; */
  text-decoration: none;
}

.nav-item:hover a {
  transition: all 0.2s;
  color: orangered;
  text-decoration: underline;
}

#search {
  display: block;
  margin: auto;
  margin-top: 3rem;
  width: 14%;
  padding: 10px 17px;
  font-size: 16px;
  border-radius: 15px;
}

.sub {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 4px 8px;
  font-size: 1.25rem;
  border-radius: 15px;
  border: 2px solid orange;
  cursor: pointer;
  background-color: white;
}

.movieCont {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}

.card {
  width: 35rem;
  border-radius: 15px;
  background: grey;
  box-shadow: 20px 20px 60px #9d9d9d, -20px -20px 60px #ffffff;
  margin-top: 2.5rem;
  height: 20.6rem;
  display: flex;
}

.img-cont {
  width: 173%;
  margin: auto;
  margin-top: 0.35rem;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
  max-width: 41%;
}

.img-cont img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 5px;
  aspect-ratio: 9/12;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  margin-right: 6px;
  width: 100%;
  margin-bottom: 5px;
}

.content h2 {
  height: 15%;
  min-height: fit-content;
  margin-top: 17px;
  margin-bottom: 0;
}

.desc {
  height: 12rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /* margin-top: 7rem; */
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 6px;
}

.star-icon {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 8px;
  cursor: pointer;
}

.radio-container {
  display: block;
  text-align: center;
  margin-top: 1.25rem;
  font-size: 1.25rem;
}

.inp-radio {
  margin-left: 1rem;
}

.container {
  /* margin: 3rem 7rem; */
  display: flex;
}

.container img {
  width: 27%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.info-container {
  margin-left: 6rem;
  font-size: 1.5rem;
}

.info-container h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.lang {
  margin-top: 0;
}

.container span {
  font-size: 1rem;
  margin: 0px 3px;
  border: 2px solid blue;
  border-radius: 20px;
  padding: 3px 6px;
  background-color: aqua;
}

.details-container {
  /* margin: 3rem 7rem; */
  font-size: 1.25rem;
}

.details-container h1{
  font-size: 2rem;
}

.cast-grid{
  display: grid;
  width: 90%;
  grid-template-columns: 25% 25% 25% 25%;
}

.cast-img{
  border-radius: 15px;
  width: 90%;
}

.show-main{
  margin: 3rem 7rem;
}

@media screen and (max-width: 1150px) {
  .movieCont {
    grid-template-columns: auto;
    justify-content: space-around;
  }
  .container img{
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .card{
    width: 25rem;
  }
  .img-cont img{
    aspect-ratio: 8/15;
  }
  .container{
    flex-direction: column;
  }
  .container img{
    width: 100%;
  }
  .info-container h1{
    font-size: 2rem;
  }
  .info-container{
    margin-left: 0;
    font-size: 1.2rem;
  }
  .cast-grid{
    grid-template-columns: auto  auto;
  }
  .show-main{
    margin: 1rem 3rem;
  }
}